.container {
    min-height: 100vh;
    background-color: #0e1a1a; 
    display: flex;
    flex-direction: column;
}

.newsFeed {
    background-color: transparent; 
    min-height: auto; 
    color: white;
    padding: 30px;
    flex: 1;
}


.newsFeed h2{
   color:#38d07f ; 
}

.post{
    background-color: #1d2e34;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}
.post h3 {
    display: flex;

}
.post p{
    display: flex;
}

.postImage{
   width: 100%;
   border-radius: 10px;
   margin-bottom: 15px;
}

.postActions{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-right: auto;
}

.postActions button{
    background-color: #242f3d;
    color:white;
    border:none;
    border-radius: 8px;
    padding:8px 14px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}
.postActions button:hover{
    background-color: #2f4255;
}

.teamSection{
    background:linear-gradient(145deg, #2e4e2c, #3d603a) ;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    border-radius:20px;
    margin:40px;
    margin-top: auto;
}
.teamSection h2{

    font-size:24px;
    margin-bottom: 8px;

}

.createTeamBtn{
    background-color: white;
    color:#1e2a38;
    border: none;
    padding: 12px 25px;
    border-radius:10px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: all 0.3s ease;
}

.createTeamBtn:hover{
    background-color: #f3f3f3;
    transform: scale(1.03);
}

